@charset "UTF-8";
	html {
	font-size:62.5%
}
body {
	font-size:14px;
	line-height:1.8;
	color:#565d6d
}
body,ul,ol,li,p,h1,h2,h3,h4,h5,dl,dt,dd,figure {
	padding:0;
	margin:0;
	font-weight:400
}
ul,ol {
	overflow:hidden
}
ul,li {
	box-sizing:border-box
}
li {
	list-style:none
}
i {
	font-style:normal;
	font-weight:600
}
a {
	color:#565d6d
}
a:hover {
	text-decoration:none;
	color:#626dae
}
a:linked {
	text-decoration:none;
	color:#999
}
a,a:hover,a:active,input,button,li {
	text-decoration:none;
	-webkit-tap-heighlight-color:transparent;
	tap-heighlight-color:transparent;
	-moz-user-focus:none;
	-webkit-touch-callout:none;
	outline:0;
	text-decoration:none;
	border:0
}
img {
	border:0;
	max-width:100%;
	vertical-align:top;
	position:relative
}
img:after {
	content:' ';
	display:block;
	position:absolute;
	width:20px;
	height:20px;
	background:transparent
}
h1 {
	text-align:center;
	font-size:30px;
	text-align:center
}
h2 {
	text-align:center;
	font-size:32px;
	text-align:center;
	color:#454e68;
	margin-bottom:50px
}
h3 {
	font-size:22px;
	color:#454e68;
	text-align:center
}
h4 {
	font-weight:600;
	color:#454e68;
	margin-bottom:6px;
	font-size:18px;
	font-weight:600
}
h1,h2,h3,h4 {
	line-height:1.5
}
@media screen and (max-width:1440px) {
	h2 {
	text-align:center;
	font-size:26px;
	font-size:26px\9
}
h3 {
	font-size:18px;
	font-weight:600
}
h4 {
	font-size:16px
}
}.hide {
	display:none
}
.full {
	width:100%
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both
}
.clearfix {
	*zoom:1
}
.text-indent {
	text-indent:-10px;
	margin-left:10px
}
.be-center {
	text-align:center
}
.dot {
	font-weight:700;
	margin-right:5px
}
.red {
	color:#d71e2b
}
.pc-module {
	display:block
}
.m-module {
	display:none
}
.tabs {
	display:none
}
.tab0 {
	display:block
}
.banner {
	font-size:18px;
	line-height:2
}
.banner .banner-bg-img {
	height:100%;
	width:100%;
	object-fit:cover;
	object-position:center;
	font-family:'object-fit:cover;
	object-position:center;
	'
}
.banner .pro-name {
	font-size:48px
}
.banner .pro-logo {
	height:57px;
	margin-bottom:10px
}
.banner .banner-brief {
	font-size:24px;
	margin-top:14px;
	line-height:36px
}
.banner h1.has-overview {
	margin-bottom:8px;
	padding-bottom:8px;
	border-bottom:1px solid #fff;
	font-size:26px;
	line-height:46px
}
.banner .overview {
	max-width:800px;
	font-size:16px;
	margin-top:6px
}
@media screen and (max-width:1599px) {
	.banner .banner-brief {
	font-size:20px;
	display:inline-block;
	line-height:34px
}
}@media screen and (min-width:1921px) {
	.banner .banner-bg-img {
	width:100%
}
}@media screen and (max-width:1366px) {
	.banner .overview {
	font-size:14px
}
.banner .pro-logo {
	height:48px
}
}@media screen and (max-width:768px) {
	.banner,.m-banner {
	font-size:12px
}
.banner .pro-logo,.m-banner .pro-logo {
	height:1.0667rem;
	width:auto;
	margin-bottom:.16rem;
	min-width:0
}
.banner .banner-brief,.m-banner .banner-brief {
	font-size:14px;
	margin-top:6px;
	line-height:24px
}
.banner h1.has-overview,.m-banner h1.has-overview {
	padding-bottom:0;
	font-size:16px;
	line-height:34px
}
.banner .overview,.m-banner .overview {
	max-width:100%;
	font-size:12px;
	line-height:20px
}
}@media screen and (min-width:1600px) {
	.banner-h {
	height:596px
}
.banner-h-low {
	height:548px
}
}@media screen and (max-width:1599px) {
	.banner-h {
	height:492px
}
.banner-h-low {
	height:450px
}
}@media screen and (min-width:769px) and (max-width:1279px) {
	.banner-h-low .box,.banner-h .box,.banner-h .box {
	padding-left:6%
}
}@media screen and (min-width:430px) and (max-width:768px) {
	.banner-h {
	height:12rem
}
.banner-h-low {
	height:8rem
}
.banner-h-low .box {
	margin-top:-1.6rem
}
}@media screen and (max-width:429px) {
	.banner-h {
	height:9.6rem;
	font-size:.32rem;
	margin-top:-1px
}
.banner-h-low {
	height:6.66rem
}
}.wid1280 {
	max-width:1280px;
	width:1280px;
	margin:0 auto;
	box-sizing:border-box
}
.wid1000 {
	max-width:1000px;
	margin:0 auto
}
.t-b-pad {
	padding:60px 0 80px
}
.t-b-pad2 {
	padding:80px 0 100px
}
.pc-block {
	display:block
}
@media screen and (min-width:1367px) and (max-width:1441px) {
	.wid1280 {
	width:1200px
}
.t-b-pad2 {
	padding:70px 0 80px
}
}@media screen and (max-width:1367px) {
	.wid1000,.wid1280 {
	width:86%
}
.t-b-pad2,.t-b-pad {
	padding:50px 0 60px
}
}@media screen and (max-width:1280px) {
	.wid1000,.wid1280 {
	width:90%
}
}@media screen and (max-width:768px) {
	a{outline:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
html {
	font-size:37.5px
}
body {
	line-height:.6933rem
}
h2 {
	font-size:.587rem;
	margin-bottom:.8rem;
	line-height:.86rem
}
h3 {
	font-size:.4rem
}
h4 {
	font-size:14px
}
.pc-module {
	display:none
}
.m-module {
	display:block
}
.m-block {
	display:block
}
.pc-block {
	display:inline
}
a:hover {
	color:#565d6d
}
.t-b-pad2,.t-b-pad {
	padding:1.0667rem 0 1.3333rem
}
}.m-dialog {
	position:fixed;
	z-index:10;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,.4)
}
.m-dialog .content {
	width:160px;
	height:120px;
	text-align:center;
	display:inline-block;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-60px;
	margin-left:-80px;
	background:#fff;
	border-radius:10px
}
.m-dialog .gif {
	display:inline-block;
	position:relative;
	margin-bottom:16px;
	top:20px;
	margin-left:-12px;
	-webkit-animation:rotate .6s infinite linear;
	animation:rotate .6s infinite linear;
	transform-origin:50% 50%;
	width:44px;
	height:44px
}
.m-dialog .gif i {
	display:inline-block;
	width:2px;
	height:12px;
	background:#e0e0e0;
	position:absolute;
	top:0;
	border-radius:2px
}
.m-dialog .gif .gif-1 {
	left:20px;
	top:0;
	background:#999
}
.m-dialog .gif .gif-2 {
	transform:rotate(30deg);
	left:28px;
	top:2px;
	background:#a9a9a9
}
.m-dialog .gif .gif-3 {
	transform:rotate(60deg);
	left:34px;
	top:8px;
	background:#b9b8b8
}
.m-dialog .gif .gif-4 {
	transform:rotate(90deg);
	left:36px;
	top:16px;
	background:#c7c7c7
}
.m-dialog .gif .gif-5 {
	transform:rotate(120deg);
	left:34px;
	top:24px;
	background:#ccc6c6
}
.m-dialog .gif .gif-6 {
	transform:rotate(150deg);
	left:28px;
	top:30px;
	background:#d0cdcd
}
.m-dialog .gif .gif-7 {
	transform:rotate(180deg);
	left:20px;
	top:32px
}
.m-dialog .gif .gif-8 {
	transform:rotate(210deg);
	left:12px;
	top:30px
}
.m-dialog .gif .gif-9 {
	transform:rotate(240deg);
	left:8px;
	top:23px
}
.m-dialog .gif .gif-10 {
	transform:rotate(270deg);
	left:5px;
	top:16px;
	background:#e8e7e7
}
.m-dialog .gif .gif-11 {
	transform:rotate(300deg);
	left:7px;
	top:8px;
	background:#dedddd
}
.m-dialog .gif .gif-12 {
	transform:rotate(330deg);
	left:12px;
	top:2px;
	background:#eceaea
}
@keyframes rotate {
	0% {
	transform:rotate(0deg)
}
50% {
	transform:rotate(-180deg)
}
100% {
	transform:rotate(-360deg)
}
}.customer-service {
	background:#F0F0F1;
	text-align:center;
	color:#8E9DAE
}
.customer-service ul {
	padding:40px 0
}
.customer-service a {
	color:#8E9DAE
}
.customer-service a:hover {
	color:#c80000
}
.customer-service li {
	display:inline-block;
	width:32%;
	vertical-align:top
}
.customer-service li .icon {
	content:'';
	width:55px;
	height:42px;
	display:inline-block;
	background:url(../../common/images/support/icon.svg) no-repeat;
	background-size:220px 182px
}
.customer-service h3 {
	font-weight:500;
	margin:4px 0 10px
}
.customer-service .tel .icon {
	width:45px;
	background-position:-74px -134px
}
.customer-service .online .icon {
	background-position:-118px -132px
}
.customer-service .email .icon {
	width:45px;
	background-position:-176px -132px
}
@media screen and (max-width:768px) {
	.customer-service ul {
	padding:40px 0
}
.customer-service li {
	width:49%
}
.customer-service h3 {
	margin:2px 0 6px
}
.customer-service .online {
	display:none
}
.customer-service .m-text {
	display:none
}
}.m-share {
	display:inline-block;
	float:right;
	position:relative;
	cursor:pointer
}
.m-share .share_icon {
	display:inline-block;
	color:#999
}
.m-share .share_icon:before {
	content:'';
	width:30px;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	color:#999;
	background:url(../../common/images/news/icon2.svg) -30px -8px no-repeat;
	background-size:120px 80px
}
.m-share .bdsharebuttonbox {
	position:absolute;
	display:none;
	width:120px;
	left:50%;
	margin-left:-80px
}
.m-share .bdsharebuttonbox .bds_more {
	display:none
}
.m-share:hover .bdsharebuttonbox {
	display:block
}
@media screen and (max-width:768px) {
	.m-share .share_icon:before {
	width:20px;
	height:20px;
	background-position:-28px -11px;
	background-size:100px 70px
}
}.return-top {
	display:none;
	position:fixed;
	z-index:1000;
	right:0;
	bottom:10px;
	width:60px;
	height:60px;
	cursor:pointer;
	-webkit-transition:unset;
	transition:unset;
	background:url(../../common/images/icon.svg) -50px -10px no-repeat;
	background-size:120px 80px
}
.second-level-nav {
	background:#fff;
	border-bottom:1px solid #eee
}
.second-level-nav .nav-inner {
	padding-left:20px
}
.second-level-nav .tab-anchor {
	position:relative;
	display:inline-block;
	padding:8px 2%;
	margin-right:1%
}
.second-level-nav .tab-anchor:after {
	content:'';
	position:absolute;
	width:25%;
	bottom:0;
	left:50%;
	opacity:0;
	height:2px;
	background:-moz-linear-gradient(left,#cb74ab 0,#626dae 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#cb74ab),color-stop(100%,#626dae));
	background:-webkit-linear-gradient(top,#cb74ab 0,#626dae 100%);
	background:-o-linear-gradient(left,#cb74ab 0,#626dae 100%);
	background:-ms-linear-gradient(left,#cb74ab 0,#626dae 100%);
	background:linear-gradient(to right,#cb74ab 0,#626dae 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$s,endColorstr=$e,GradientType=1);
	*background:#cb74ab;
	transition:width .4s ease-in-out,opacity .4s ease-in-out,left .4s ease-in-out
}
.second-level-nav .tab-anchor.active:after,.second-level-nav .tab-anchor:hover:after {
	left:0;
	opacity:1;
	width:100%
}
.second-level-nav .tab-anchor:hover,.second-level-nav .tab-anchor.active {
	height:auto;
	background:0 0
}
.second-level-nav .tab-anchor:hover {
	color:inherit
}
.second-level-nav .tab-anchor.active {
	color:#626dae;
	font-weight:600
}
.second-level-nav.fixed {
	width:100%;
	position:fixed;
	z-index:6;
	top:56px
}
.second-level-nav .consult {
	background:#393F5B;
	padding:0 20px;
	border-radius:20px;
	float:right;
	color:#fff;
	margin-top:8px;
	margin-right:0
}
@media screen and (max-width:768px) {
	.second-level-nav {
	overflow:hidden;
	box-shadow:inset -15px 0 10px -15px #999
}
.second-level-nav .tab-anchor {
	margin-right:.32rem;
	padding:.2133rem 2%
}
.second-level-nav .nav-box {
	overflow:scroll;
	position:relative;
	height:1.0667rem
}
.second-level-nav .nav-box::-webkit-scrollbar {
	display:none
}
.second-level-nav .nav-inner {
	position:absolute;
	white-space:nowrap;
	padding-left:0
}
.second-level-nav .consult {
	display:none
}
.second-level-nav a {
	margin-right:.8rem;
	padding:.32rem 0
}
.second-level-nav.fixed {
	top:1.56rem;
	box-shadow:inset -15px 0 10px -15px #999
}
}@media screen and (min-width:430px) and (max-width:768px) {
	.second-level-nav .nav-box {
	height:.9rem
}
.second-level-nav a {
	margin-right:.8rem;
	padding:.18rem 0
}
}.menu-bar {
	color:#999;
	border-bottom:2px solid #ececec;
	padding:14px 0 8px
}
.menu-bar a {
	color:#999
}
.not-found {
	display:block;
	text-align:center;
	color:#D0D8DD;
	font-size:18px;
	padding:60px 0
}
.not-found a {
	color:#D0D8DD;
	font-size:26px;
	line-height:40px
}
.not-found:before {
	content:'';
	display:inline-block;
	width:239px;
	height:285px;
	vertical-align:top;
	background:url(../../common/images/not_found.png) no-repeat center
}
@media screen and (max-width:768px) {
	.not-found {
	font-size:12px
}
.not-found:before {
	width:160px;
	height:185px;
	background-size:100%
}
.not-found a {
	font-size:14px;
	line-height:28px
}
}.m-btn-0 {
	color:#c21927
}
.m-btn-0:hover {
	color:#be0d23;
	text-decoration:underline
}
.m-btn-1 {
	border:1px solid #454e68;
	border-radius:50px;
	padding:0 40px;
	display:inline-block;
	transition:all .3s;
	background:transparent;
	color:#454e68;
	box-sizing:border-box;
	line-height:32px
}
.m-btn-1:hover {
	background:transparent;
	border:1px solid #999;
	color:#fff
}
.m-btn-1:hover {
	background:-moz-linear-gradient(left,#cb74ab 0,#626dae 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#cb74ab),color-stop(100%,#626dae));
	background:-webkit-linear-gradient(top,#cb74ab 0,#626dae 100%);
	background:-o-linear-gradient(left,#cb74ab 0,#626dae 100%);
	background:-ms-linear-gradient(left,#cb74ab 0,#626dae 100%);
	background:linear-gradient(to right,#cb74ab 0,#626dae 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$s,endColorstr=$e,GradientType=1);
	*background:#cb74ab
}
.m-btn-2 {
	border:1px solid #98a7b8;
	border-radius:50px;
	padding:0 40px;
	display:inline-block;
	transition:all .3s;
	background:#fff;
	color:#98a7b8;
	box-sizing:border-box;
	line-height:32px
}
.m-btn-2:hover {
	background:#ce292d;
	border:1px solid #ce292d;
	color:#fff
}
.m-btn-3,.go-test .btn {
	border-radius:50px;
	padding:0 40px;
	display:inline-block;
	color:#fff;
	box-sizing:border-box;
	line-height:34px;
	background:-moz-linear-gradient(left,#cb74ab 0,#626dae 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#cb74ab),color-stop(100%,#626dae));
	background:-webkit-linear-gradient(top,#cb74ab 0,#626dae 100%);
	background:-o-linear-gradient(left,#cb74ab 0,#626dae 100%);
	background:-ms-linear-gradient(left,#cb74ab 0,#626dae 100%);
	background:linear-gradient(to right,#cb74ab 0,#626dae 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$s,endColorstr=$e,GradientType=1);
	*background:#cb74ab
}
.m-btn-3:hover,.go-test .btn:hover {
	color:#eee
}
.go-test {
	text-align:center;
	background:#f0f4f7;
	padding:30px 0
}
.go-test .btn {
	font-size:16px
}
@media screen and (max-width:678px) {
	.go-test {
	padding-left:5%;
	padding-right:5%
}
.go-test .btn {
	width:200px;
	padding:6px 0
}
}.act-enLarge-img {
	cursor:pointer
}
.act-scroll-fade {
	transition:all .4s ease-in-out
}
.scroll-visible {
	opacity:1;
	transform:translateY(0)
}
.scroll-hidden {
	opacity:0;
	transform:translateY(20px)
}
body {
	font-family:PingFangSC-Light,helvetica neue,hiragino sans gb,arial,microsoft yahei ui,microsoft yahei,simsun,sans-serif
}
h2.has-brief {
	margin-bottom:20px
}
.mod-brief {
	margin-bottom:30px;
	text-align:center
}
.block {
	display:block
}
.banner,.m-banner {
	color:#fff;
	position:relative
}
.banner .boeder,.m-banner .boeder {
	border-bottom:2px solid #fff
}
.banner .banner-detail,.m-banner .banner-detail {
	margin:16px 0 26px
}
.banner h1,.m-banner h1 {
	font-size:46px;
	text-align:left;
	line-height:62px
}
.banner h1.h1,.m-banner h1.h1 {
	font-size:26px;
	line-height:46px;
	margin:8px 0 30px
}
.banner strong,.m-banner strong {
	font-weight:500
}
.banner .box,.m-banner .box {
	position:absolute;
	top:50%;
	margin-top:-70px
}
.banner .banner-btn,.m-banner .banner-btn {
	font-size:18px
}
@media screen and (max-width:1599px) {
	.banner .boeder,.m-banner .boeder {
	border-bottom:2px solid #fff
}
.banner .banner-detail,.m-banner .banner-detail {
	margin:10px 0 20px
}
.banner h1,.m-banner h1 {
	font-size:38px;
	text-align:left;
	line-height:54px
}
}@media screen and (max-width:1366px) {
	.banner h1.h1,.m-banner h1.h1 {
	font-size:22px;
	line-height:36px;
	margin:8px 0 30px
}
}@media screen and (max-width:768px) {
	.banner .box,.m-banner .box {
	margin-top:-2.4rem;
	width:90%
}
.FloatBox .tel_contact {
	bottom:97px
}
.FloatBox .online_contact {
	bottom:158px
}
.banner .banner-brief,.m-banner .banner-brief {
	font-size:.373rem;
	line-height:.56rem
}
.banner h1,.m-banner h1 {
	font-size:.6rem;
	line-height:1.067rem;
	padding-bottom:0
}
.banner h1.h1,.m-banner h1.h1 {
	font-size:.4267rem;
	line-height:.8rem;
	margin:0
}
.banner .banner-detail,.m-banner .banner-detail {
	margin:.267rem 0 .533rem
}
.banner .banner-btn,.m-banner .banner-btn {
	font-size:.32rem
}
.m-btn-lan {
	background:#E2E9EF;
	position:relative;
	text-align:center;
	border-bottom:1px solid #e2e0e0;
	padding:.2667rem 0;
	font-size:.32rem
}
.m-btn-lan a {
	color:#666;
	padding:0 .8rem
}
.m-btn-lan a:first-child {
	border-right:1px solid #8d8f91
}
h2.has-brief {
	margin-bottom:.373rem
}
.mod-brief {
	margin-bottom:.64rem
}
}@media screen and (min-width:415px) and (max-width:768px) {
	body {
	line-height:.56rem;
	font-size:.267rem
}
.m-banner h1 {
	font-size:.6rem;
	line-height:.98rem
}
.m-banner .banner-brief {
	font-size:.32rem;
	line-height:.52rem
}
h2 {
	font-size:.52rem
}
h3 {
	font-size:.32rem
}
}.pc-footer {
	display:block;
	overflow:hidden
}
.m-footer {
	display:none
}
.page-footer i {
	font-style:normal;
	font-weight:600
}
.page-footer .part_box {
	max-width:1280px;
	*width:1280px;
	margin:0 auto;
	position:relative;
	overflow:visible;
	padding-bottom:6%
}
.page-footer {
	overflow-x:hidden;
	padding:40px 0 0;
	background:#282738;
	color:#949ca1;
	box-sizing:border-box
}
.page-footer dl {
	float:left;
	min-width:18%;
	padding-right:3%;
	box-sizing:border-box
}
.page-footer dl:last-child {
	padding-right:0
}
.page-footer dl:first-child {
	margin-right:2%;
	border-right:1px solid #585858
}
.page-footer dl dt {
	font-size:17px;
	font-size:17px\9;
	padding:10px 0;
	font-weight:400
}
.page-footer dl dd {
	padding:6px 0
}
.page-footer dt.online {
	margin-top:30px
}
.clear {
	clear:both;
	overflow:hidden
}
.page-footer i {
	display:inline-block;
	height:30px;
	width:30px;
	vertical-align:middle;
	margin-right:13px;
	margin-right:13px\9
}
.page-footer i.saler {
	background:url(../images/footer_icon.png) no-repeat;
	background-position:-4px -6px
}
.page-footer i.c_server {
	background:url(../images/footer_icon.png) no-repeat;
	background-position:-60px -1px
}
.page-footer a {
	color:#949ca1;
	display:inline-block
}
.page-footer a:hover {
	color:#e3e3e3;
	text-decoration:none
}
.page-footer .Copyright {
	position:absolute;
	width:98%;
	bottom:0;
	font-size:12px;
	font-size:12px\9;
	padding:6px 0 6px 2%;
	box-sizing:border-box;
	border-top:1px solid #585858
}
.page-footer .Copyright a {
	margin-left:20px
}
.page-footer .Copyright .y_f {
	float:right
}
.page-footer .Copyright .y_f a {
	margin:0 6px
}
.page-footer .part_msk {
	height:110%;
	width:17%;
	position:absolute;
	top:-50px;
	background:rgba(181,192,200,.2);
	z-index:1
}
.page-footer .indicators {
	margin-bottom:14px
}
.page-footer .indicators li {
	display:inline-block;
	vertical-align:middle;
	cursor:pointer
}
.page-footer .indicators-1,.page-footer .indicators-2,.page-footer .indicators-3 {
	display:inline-block;
	background:url(../images/f.jpg) no-repeat;
	width:49px;
	height:35px
}
.page-footer .indicators .indicators-2 {
	background-position:4px -34px
}
.page-footer .indicators .indicators-3 {
	background-position:0 -74px
}
.page-footer .tabs .img-box {
	width:100px;
	height:116px;
	position:relative;
	background:#333242;
	color:#fff;
	text-align:center;
	font-size:12px
}
.page-footer .img-box p {
	width:100px;
	height:88px
}
.page-footer .img-box p:before {
	content:'';
	display:inline-block;
	border-bottom:16px solid #333242;
	border-left:12px solid transparent;
	border-right:12px solid transparent;
	position:absolute;
	top:-12px;
	left:50%;
	margin-left:-14px
}
.page-footer .tab0 .img-box {
	margin-left:-35px
}
.page-footer .tab1 .img-box {
	margin-left:20px
}
.page-footer .tab2 .img-box {
	margin-left:70px
}
.page-footer .tab0 p {
	background:url(../images/wx.jpg) no-repeat center bottom
}
.page-footer .tab2 p {
	background:url(../images/culture.png) no-repeat center bottom
}
.page-footer .p_contain {
	width:24%
}
.page-footer .email-error-tips {
	color:#c80000;
	display:none
}
.page-footer .subscribe-input {
	padding-left:10px;
	border:1px solid #949ca1;
	line-height:36px;
	height:38px;
	background:transparent;
	width:74%;
	vertical-align:middle;
	box-sizing:border-box;
	color:#fff
}
.page-footer .subscribe-submit {
	color:#fff;
	background:#949ca1;
	line-height:38px;
	width:25%;
	text-align:center;
	font-size:16px;
	display:inline-block;
	margin-left:-2%;
	vertical-align:middle;
	cursor:pointer
}
.page-footer .subscribe-tips {
	margin-top:6px;
	margin-bottom:20px
}
@media (min-width:1700px) {
	.page-footer .part_msk {
	height:110.5%
}
}@media screen and (max-width:768px) {
	.page-footer .indicators li,.page-footer .tabs p,.page-footer i.saler,.page-footer i.c_server {
	background:0 0
}
.pc-footer {
	display:none
}
.m-footer {
	display:block
}
.page-footer {
	padding:4% 0;
	background:#282738;
	color:#a6acb0;
	box-sizing:border-box;
	height:auto
}
.page-footer .item {
	margin:0 4%;
	border-bottom:1px solid #4e5054;
	padding:14px 0
}
.page-footer .item.act-contain-us {
	border-bottom:0
}
.page-footer .til {
	font-size:.373rem;
	margin-bottom:.32rem
}
.page-footer .item a {
	font-size:.32rem;
	width:32%
}
.page-footer .item a.wb {
	width:auto
}
.page-footer .item a.tel {
	width:35%
}
.page-footer .tel {
	width:auto;
	border:1px solid #6c747f;
	color:#fff;
	padding:.213rem .32rem
}
.page-footer i {
	display:inline-block;
	height:.8rem;
	width:.8rem;
	vertical-align:middle;
	margin-right:.8rem
}
.page-footer .footer-mask {
	display:none;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(10,10,10,.5);
	width:100%;
	height:100%
}
.page-footer .code-img-1,.page-footer .code-img-2 {
	width:70%;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-40%;
	margin-left:-35%
}
.page-footer .icon-1,.page-footer .icon-2,.page-footer .icon-3 {
	background:url(../images/f.jpg) no-repeat;
	width:49px;
	height:35px
}
.page-footer .icon-2 {
	background-position:4px -34px
}
.page-footer .icon-3 {
	background-position:4px -74px
}
.page-footer .copy {
	padding:4%;
	border-top:1px solid #4e5054;
	font-size:12px
}
.page-footer .bot-logo {
	content:'';
	width:140px;
	height:42px;
	margin:1% 0;
	display:inline-block;
	background:url(../images/footer_13.jpg);
	background-size:auto 100%
}
.page-footer .copy a {
	color:#a6acb0;
	padding:0 4px
}
.page-footer .copy .yinsi {
	padding-left:0
}
.page-footer .subscribe-tips {
	margin-bottom:0
}
}@media screen and (max-width:768px) and (min-width:415px) {
	.page-footer .til {
	font-size:.32rem
}
.page-footer .tel {
	font-size:.24rem
}
.page-footer .code-img-1,.page-footer .code-img-2 {
	width:50%;
	margin-top:-30%;
	margin-left:-25%
}
.page-footer .tel {
	padding:.053rem .267rem
}
.page-footer .item a {
	font-size:.24rem
}
}.pc-nav {
	position:fixed;
	z-index:99;
	top:0;
	width:100%
}
.pc-nav .top-lan {
	background:rgba(165,168,183,.2);
	font-size:13px;
	line-height:31px;
	text-align:right
}
.pc-nav .top-lan a {
	color:#fff;
	margin-left:30px
}
.pc-nav .top-lan a:hover {
	color:#dbdfeb
}
.pc-nav .top-lan .country-select {
	display:inline-block;
	color:#fff;
	float:right;
	margin-left:30px;
	position:relative;
	cursor:pointer
}
.pc-nav .top-lan .country-select:after {
	content:'';
	width:6px;
	height:6px;
	vertical-align:top;
	display:inline-block;
	margin:0 0 7px 2px;
	vertical-align:middle;
	display:inline-block;
	border-bottom:2px solid;
	border-right:2px solid;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg)
}
.pc-nav .top-lan .country-select ul {
	position:absolute;
	text-align:left;
	width:130px;
	display:none;
	background:#fff;
	border-radius:5px;
	margin-top:-1px;
	overflow:visible;
	z-index:99;
	margin-left:-30px
}
.pc-nav .top-lan .country-select ul:before {
	content:'';
	display:inline-block;
	position:absolute;
	top:-7px;
	left:50%;
	margin-left:-5px;
	border-bottom:7px solid #fff;
	border-left:5px solid transparent;
	border-right:5px solid transparent
}
.pc-nav .top-lan .country-select a {
	margin-left:22px;
	color:#585858
}
.pc-nav .top-lan .country-select a:hover {
	color:#999
}
.pc-nav .top-lan .country-select:hover ul {
	display:block;
	box-shadow:0 0 4px #a9a9a9
}
.pc-nav .top-lan .country-select:hover:after {
	-webkit-transform:rotate(-135deg);
	transform:rotate(-135deg);
	margin-bottom:0
}
.pc-nav .nav-lan {
	position:absolute;
	width:100%;
	-webkit-transition:-webkit-transform .2s ease-in-out;
	transition:-webkit-transform .2s ease-in-out;
	transition:transform .2s ease-in-out;
	transition:transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
	will-change:transform
}
.pc-nav .nav-lan .login {
	background:-moz-linear-gradient(left,#ea696b 0,#838bc5 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ea696b),color-stop(100%,#838bc5));
	background:-webkit-linear-gradient(top,#ea696b 0,#838bc5 100%);
	background:-o-linear-gradient(left,#ea696b 0,#838bc5 100%);
	background:-ms-linear-gradient(left,#ea696b 0,#838bc5 100%);
	background:linear-gradient(to right,#ea696b 0,#838bc5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$s,endColorstr=$e,GradientType=1);
	*background:#ea696b;
	color:#fff;
	border:0;
	padding:2px 24px;
	border-radius:50px;
	margin-left:2%;
	display:inline-block
}
.pc-nav .nav-lan .login:hover {
	color:#eee
}
.pc-nav .nav-lan .user-center {
	display:none;
	height:22px;
	background:url(../../common/images/top_icon.png) no-repeat 2px -36px;
	vertical-align:middle;
	padding:0 0 12px 28px;
	border:0;
	margin-left:2%;
	position:relative;
	cursor:pointer
}
.pc-nav .nav-lan .user-center .user-info-list {
	display:none;
	width:100px;
	border:1px solid #ccc;
	background:#fff;
	text-align:left;
	padding:10px;
	box-sizing:border-box;
	top:28px;
	left:0;
	position:absolute
}
.pc-nav .nav-lan .user-center .user-info-list:after {
	content:'';
	width:6px;
	height:6px;
	vertical-align:top;
	display:inline-block;
	margin:0 0 7px 2px;
	vertical-align:middle;
	display:inline-block;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	position:absolute;
	top:-5px;
	left:45%;
	background:#fff
}
.pc-nav .nav-lan .user-center .user-info-list .item {
	border-bottom:1px dashed #ccc;
	display:block
}
.pc-nav .nav-lan .user-center .user-info-list .item:hover {
	color:#626dae
}
.pc-nav .nav-lan .user-center:hover .user-info-list {
	display:inline-block
}
.pc-nav .nav-lan .til-box {
	text-align:right
}
.pc-nav .nav-lan .til-box .logo {
	float:left
}
.pc-nav .nav-lan.show {
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0)
}
.pc-nav .nav-lan.hide {
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%)
}
.pc-nav .nav-lan .nav-til {
	font-size:16px;
	position:relative;
	display:inline-block;
	padding:14px 0 0 4%;
	margin-left:-4px;
	color:#fff
}
.pc-nav .nav-lan .nav-til:after {
	content:'';
	display:inline-block;
	width:6px;
	height:6px;
	margin:0 0 4px 10px;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg)
}
.pc-nav .nav-lan .nav-til:before {
	content:'';
	opacity:0;
	filter:alpha(opacity=0);
	border-bottom:6px solid #edf1f4;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	float:right;
	margin-top:36px;
	margin-left:-8px
}
.pc-nav .nav-lan .nav-til:hover {
	color:#fff
}
.pc-nav .nav-lan .nav-til.cur:before {
	opacity:1;
	filter:alpha(opacity=1)
}
.pc-nav .nav-lan .nav-til.cur:after {
	border:0;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	margin-bottom:0
}
.pc-nav:hover,.pc-nav .nav-fixed {
	background:#fff;
	-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,.2);
	box-shadow:0 2px 4px 0 rgba(0,0,0,.2)
}
.pc-nav:hover .nav-lan,.pc-nav .nav-fixed .nav-lan {
	background:#fff
}
.pc-nav:hover .nav-lan .logo,.pc-nav .nav-fixed .nav-lan .logo {
	background-position:0 6px
}
.pc-nav:hover .nav-til,.pc-nav .nav-fixed .nav-til {
	color:#585858
}
.pc-nav:hover .nav-til:after,.pc-nav .nav-fixed .nav-til:after {
	border-bottom:1px solid #585858;
	border-right:1px solid #585858
}
.pc-nav:hover .nav-til:hover,.pc-nav .nav-fixed .nav-til:hover {
	color:#585858
}
.pc-nav:hover .nav-til.cur:after,.pc-nav .nav-fixed .nav-til.cur:after {
	border:0;
	border-top:1px solid #585858;
	border-left:1px solid #585858
}
.pc-nav:hover .top-lan,.pc-nav .nav-fixed .top-lan {
	background:#edf1f4
}
.pc-nav:hover .top-lan a,.pc-nav:hover .top-lan .country-select,.pc-nav .nav-fixed .top-lan a,.pc-nav .nav-fixed .top-lan .country-select {
	color:#585858
}
.pc-nav .droplist {
	display:none;
	position:absolute;
	left:0;
	top:87px;
	background:#edf1f4;
	width:100%;
	padding:2% 0;
	line-height:30px;
	-webkit-box-shadow:rgba(8,8,9,.2) -6px 4px 10px -2px;
	box-shadow:rgba(8,8,9,.2) -6px 4px 10px -2px
}
.pc-nav .droplist>ul {
	column-count:2;
	-moz-column-count:2;
	-webkit-column-count:2;
	-ms-column-count:2;
	column-gap:2%;
	-moz-column-gap:2%;
	-webkit-column-gap:2%;
	-ms-column-gap:2%;
	margin:0 auto;
	text-align:center;
	width:90%;
	max-width:1100px
}
.pc-nav .droplist .h3 {
	font-size:16px;
	margin:5px 0;
	font-weight:500;
	text-align:left;
	padding-left:2%
}
.pc-nav .droplist .h3.has-cloud-try-link .cloud-try-link {
	font-size:14px;
	padding:0 10px;
	line-height:24px;
	color:#8592e3
}
.pc-nav .droplist .h4 {
	font-size:14px;
	font-weight:400;
	padding:0 0 4px 2%;
	border-bottom:1px solid #e3e3e3;
	margin-bottom:8px;
	position:relative;
	color:#3c3e4f
}
.pc-nav .droplist .h4.has-link a:before,.pc-nav .droplist .h4.new a:before {
	content:'';
	display:inline-block;
	width:12px;
	height:2px;
	background:#565d6d;
	position:absolute;
	right:25px;
	bottom:14px
}
.pc-nav .droplist .h4.has-link a:after,.pc-nav .droplist .h4.new a:after {
	content:'';
	display:inline-block;
	width:8px;
	height:8px;
	border-top:2px solid #565d6d;
	border-right:2px solid #565d6d;
	float:right;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	position:absolute;
	bottom:10px;
	right:24px
}
.pc-nav .droplist .lev-1 {
	vertical-align:top;
	text-align:left;
	padding:0 3% 2%;
	-moz-page-break-inside:avoid;
	-webkit-column-break-inside:avoid;
	break-inside:avoid;
	height:100%;
	overflow:hidden
}
.pc-nav .droplist .lev-2 {
	margin-bottom:10px
}
.pc-nav .droplist .lis-item {
	font-size:13px;
	color:#666;
	display:inline-block;
	vertical-align:top;
	width:48%;
	margin-right:1%;
	padding-left:2%;
	box-sizing:border-box
}
.pc-nav .droplist .lis-item:hover {
	color:#626dae
}
.pc-nav .droplist .try:after,.pc-nav .droplist .new:after {
	display:inline-block;
	background:#929fef;
	vertical-align:top;
	padding:3px 8px;
	border-radius:50px;
	color:#fff;
	line-height:1;
	font-size:12px;
	margin-left:6px
}
.pc-nav .droplist .new:after {
	content:'new'
}
.pc-nav .droplist .try:after {
	content:'试用'
}
.pc-nav.fixed .droplist {
	top:57px
}
.m-nav {
	display:none
}
@media screen and (max-width:1366px) {
	.pc-nav .nav-lan .nav-til {
	font-size:14px
}
.pc-nav .droplist {
	line-height:28px
}
}@media screen and (max-width:768px) {
	body {
	padding-top:1.52rem
}
.m-nav {
	display:block
}
.pc-nav {
	display:none
}
.m-nav {
	background:#282738;
	height:1.56rem;
	position:fixed;
	top:0;
	width:100%;
	z-index:99
}
.m-nav .icon {
	cursor:pointer;
	content:'';
	width:.86rem;
	height:.92rem;
	vertical-align:top;
	display:inline-block
}
.m-nav .icon.dropDown {
	background:url(../../common/images/m-nav-icon.png) no-repeat center;
	background-size:auto 80%;
	float:right;
	margin-right:5%;
	margin:3% 5% 0 0;
	background-position-x:-1rem
}
.m-nav .icon.active {
	background-position-x:-1.9rem
}
.m-droplist {
	position:absolute;
	top:1.56rem;
	width:100%;
	max-height:13.3333rem;
	overflow-y:scroll;
	background:rgba(243,244,244,.98);
	font-size:12px;
	z-index:99;
	display:none
}
.m-droplist .til-col,.m-droplist .h3 {
	border-bottom:1px solid #e3e3e3
}
.m-droplist .til-col:after,.m-droplist .h3:after {
	content:'';
	width:.2133rem;
	height:.2133rem;
	vertical-align:top;
	display:inline-block;
	border-top:2px solid #a5a9ad;
	border-left:2px solid #a5a9ad;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-135deg);
	transform:rodeta(-135deg);
	margin-top:4px;
	float:right;
	margin-right:.3rem
}
.m-droplist .til-col {
	padding:.2133rem 5%
}
.m-droplist .til-col .til {
	display:inline-block
}
.m-droplist .cur:after {
	-webkit-transform:rotate(45deg);
	transform:rodeta(45deg);
	margin-top:.267rem
}
.m-droplist .h3 {
	width:90%;
	font-size:.32rem;
	text-align:left;
	padding:.2133rem 5% .2133rem .1067rem;
	font-weight:500;
	margin-left:9%;
	box-sizing:border-box
}
.m-droplist .h3.has-cloud-try-link .cloud-try-link {
	font-size:12px;
	padding:0 10px;
	line-height:24px;
	color:#8592e3
}
.m-droplist .h4 {
	font-size:.32rem;
	font-weight:500;
	padding:.16rem .1067rem;
	margin-bottom:0;
	border-bottom:1px solid #e8e8e8
}
.m-droplist .m-lev-2 {
	display:none
}
.m-droplist .m-lev-3 {
	display:none;
	margin-left:14%;
	width:86%
}
.m-droplist .m-lev-3 .lis-item {
	display:block;
	padding:.16rem .1067rem;
	border-bottom:1px solid #e8e8e8;
	margin-left:6%
}
.m-droplist .try:after,.m-droplist .new:after {
	display:inline-block;
	background:#929fef;
	vertical-align:top;
	padding:2px 8px 4px;
	border-radius:50px;
	color:#fff;
	line-height:1;
	font-size:12px;
	margin-left:6px
}
.m-droplist .new:after {
	content:'new'
}
.m-droplist .try:after {
	content:'试用'
}
}@media screen and (min-width:415px) and (max-width:768px) {
	.m-droplist {
	font-size:.32rem
}
.m-droplist .til-col {
	font-size:.4rem;
	padding:.32rem 5% .32rem 6%
}
.m-droplist .content a {
	padding:.2rem 0
}
}.light-banner-nav {
	color:#565d6d
}
.light-banner-nav a {
	color:#565d6d
}
.light-banner-nav .top-lan {
	background:rgba(255,255,255,.4)
}
.light-banner-nav .top-lan a {
	color:#565d6d
}
.light-banner-nav .top-lan a:hover {
	color:#999
}
.light-banner-nav .top-lan .country-select {
	color:#565d6d
}
.light-banner-nav .top-lan .country-select:after {
	border-bottom:2px solid;
	border-right:2px solid
}
.light-banner-nav .nav-lan .til-box .nav-til {
	color:#585858
}
.light-banner-nav .nav-lan .til-box .nav-til:after {
	border-bottom:1px solid #585858;
	border-right:1px solid #585858
}
.light-banner-nav .nav-lan .til-box .nav-til:hover {
	color:#585858
}
.light-banner-nav .nav-lan .til-box .nav-til.cur:after {
	border:0;
	border-top:1px solid #585858;
	border-left:1px solid #585858
}
.light-banner-nav:hover .top-lan {
	background:rgba(225,230,234,.4)
}
.light-banner-nav:hover .top-lan .country-select {
	color:#565d6d
}
.light-banner-nav:hover .top-lan .country-select:after {
	border-bottom:2px solid;
	border-right:2px solid
}
.pc-nav .til-box .logo {
	content:'';
	width:160px;
	height:50px;
	vertical-align:middle;
	display:inline-block;
	background:url(../../common/images/logo/logo_cn.svg) no-repeat;
	background-size:160px 100px;
	background-position:0 -48px
}
.pc-nav .nav-fixed .til-box .logo,.pc-nav.light-banner-nav .til-box .logo {
	background-position:0 6px
}
@media screen and (max-width:768px) {
	.m-nav .logo {
	width:4rem;
	height:1.0667rem;
	margin:2.8% 0 2.8% 4%;
	display:inline-block;
	background:url(../../common/images/logo/logo_cn.svg) no-repeat;
	background-size:4rem 2.1334rem;
	background-position:0 -1.24rem
}
}.float-box {
	position:fixed;
	right:0;
	bottom:300px;
	z-index:999;
	cursor:pointer;
	font-size:16px
}
.float-box .contact-us {
	display:inline-block;
	background:rgba(49,55,79,.9);
	background:#31374f\9;
	color:#fff;
	width:50px;
	padding:62px 8px 22px 18px;
	box-sizing:border-box;
	border-radius:6px;
	position:relative;
	line-height:22px
}
.float-box .contact-us:before {
	content:'';
	display:inline-block;
	width:38px;
	height:34px;
	background:url(https://www.aishu.cn/dist/cn/images/contact_us_icon.svg) no-repeat;
	background-size:203px 87px;
	background-position:-164px 0;
	position:absolute;
	top:20px;
	left:6px
}
.float-box .contact-box {
	float:left;
	border:1px solid #ccc;
	height:172px;
	border-radius:6px;
	padding:30px 26px 24px;
	box-sizing:border-box;
	background:#fff;
	display:none
}
.float-box .contact-box .line {
	border-top:1px dashed #ccc;
	margin:20px 0
}
.float-box .contact-box .online-contact:before,.float-box .contact-box .phone-contact:before {
	content:'';
	display:inline-block;
	width:31px;
	height:28px;
	background:url(../images/contact_us_icon.svg) no-repeat;
	background-size:203px 87px;
	vertical-align:middle;
	margin-right:10px
}
.float-box .contact-box .online-contact {
	margin-right:46px
}
.float-box .contact-box .online-contact:before {
	background-position:0 0
}
.float-box .contact-box .online-contact:hover {
	color:#565d6d
}
.float-box .contact-box .online-contact:hover:before {
	background-position:0 -61px
}
.float-box .contact-box .phone-contact:before {
	background-position:-82px 0
}
.float-box .contact-box .phone-contact:hover {
	color:#565d6d
}
.float-box .contact-box .phone-contact:hover:before {
	background-position:-85px -59px
}
#QIAO_ICON_CONTAINER {
	display:none!important
}
#qiao-wrap {
	display:none!important
}
#newBridge {
	display:none!important
}
#LXB_CONTAINER {
	filter:alpha(opacity=50);
	opacity:0;
	border-radius:3px
}
#LXB_CONTAINER .lxb-cb-input {
	border-radius:50px
}
#LXB_CONTAINER .lxb-cb-input-btn {
	padding:3px 0;
	border-radius:50px
}
@media screen and (max-width:768px) {
	.float-box {
	font-size:12px;
	bottom:100px
}
.float-box .contact-us {
	width:38px;
	padding:34px 12px 8px;
	line-height:15px
}
.float-box .contact-us:before {
	width:26px;
	height:26px;
	background-size:132px auto;
	background-position:-106px 0;
	top:8px;
	left:5px
}
.float-box .contact-box {
	display:none
}
}.ue-feedback {
	padding:20px 24px;
	overflow:auto;
	position:relative;
	background:#302f3e;
	color:#fff
}
.ue-feedback .yes,.ue-feedback .no {
	width:60px;
	margin-left:16px;
	border-radius:4px;
	display:inline-block;
	box-sizing:border-box;
	vertical-align:middle;
	height:34px
}
.ue-feedback .yes {
	background:-moz-linear-gradient(left,#ea696b 0,#838bc5 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ea696b),color-stop(100%,#838bc5));
	background:-webkit-linear-gradient(top,#ea696b 0,#838bc5 100%);
	background:-o-linear-gradient(left,#ea696b 0,#838bc5 100%);
	background:-ms-linear-gradient(left,#ea696b 0,#838bc5 100%);
	background:linear-gradient(to right,#ea696b 0,#838bc5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$s,endColorstr=$e,GradientType=1);
	*background:#ea696b;
	padding:3px 20px
}
.ue-feedback .no {
	background:-moz-linear-gradient(left,#738198 0,#97a3b6 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#738198),color-stop(100%,#97a3b6));
	background:-webkit-linear-gradient(top,#738198 0,#97a3b6 100%);
	background:-o-linear-gradient(left,#738198 0,#97a3b6 100%);
	background:-ms-linear-gradient(left,#738198 0,#97a3b6 100%);
	background:linear-gradient(to right,#738198 0,#97a3b6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$s,endColorstr=$e,GradientType=1);
	*background:#738198;
	padding:5px 20px 1px
}
.ue-feedback .tips {
	margin-right:50px;
	font-size:16px
}
.ue-feedback .sug-finish {
	display:none
}
.ue-feedback .suggest {
	display:none
}
.ue-feedback .suggest textarea {
	width:100%;
	margin:6px 0;
	background:transparent;
	color:#fff
}
.ue-feedback .suggest .suggest-til {
	padding:12px 0 6px;
	display:block
}
.ue-feedback .suggest .checkbox {
	display:block
}
.ue-feedback .close {
	width:22px;
	height:22px;
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer
}
.ue-feedback .close .path {
	fill:transparent;
	stroke:currentColor;
	stroke-linejoin:round;
	stroke-width:3
}
.ue-feedback .submit {
	color:#fff;
	background:#454e68;
	padding:0 24px;
	box-sizing:border-box;
	width:auto;
	border-radius:4px;
	float:right
}
.ue-feedback.fixed,.ue-feedback.scroll-fixed {
	position:fixed;
	bottom:0;
	background:#ececed;
	padding:12px 20px
}
@media screen and (max-width:768px) {
	.ue-feedback .tips {
	margin-right:.5333rem;
	font-size:12px
}
.ue-feedback .yes,.ue-feedback .no {
	height:auto;
	margin:0 .16rem;
	width:1.0667rem;
	padding:.1067rem .2667rem .0533rem
}
}